#editor .container {
  min-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 1px 1px 4px #ffcece;
  padding-top: 5px;
}

#editor .container .header {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  border-bottom: 1px solid #ffcece;
  cursor: pointer;
}

#editor .header .section {
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
}
