.container {
  min-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 1px 1px 4px #ffcece;
  padding-top: 5px;
}

.header {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  border-bottom: 1px solid #ffcece;
  cursor: pointer;
}

.header .section {
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
}
.header .active {
  border-bottom: 2px solid #ee9ca7;
  color: #ee9ca7;
}
.body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 0;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.detail .row {
  display: flex;
  gap: 20px;
}

.detail .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail .row > div {
  flex: 1;
}
.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.chip {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 4px 8px;
  background-color: #ffcece;
  border-radius: 20px;
}
.chip p {
  font-weight: 500;
  line-height: 1.25rem;
  color: #ee9ca7;
}

.chip svg {
  color: #fa7788;
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.chip .active {
  background-color: #ffadb8;
}
.body button {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #ffcece;
  color: #ee9ca7;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}
.body button:hover {
  transform: translateY(2px);
  background-color: #ee9ca7;
  color: #ffcece;
}
